.navbar-custom { 
    background-color: #041630; 
} 

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #99c3ff;
}

.navbar-custom .nav-link {
    color: #99c3ff;
    font-size: 1.15rem;
    font-family: cursive;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(153,195,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(153,195,255);
} 

.navbar ul {
    justify-content: space-around;
}

@media (min-width: 992px) {
    .navbar li {
        margin-left: 10px;
        margin-right: 10px;
    }
}